<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.795723306904-3asa49ork83bdca408lhc767eb9tsoih</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>795723306904-3asa49ork83bdca408lhc767eb9tsoih.apps.googleusercontent.com</string>
</dict>
</plist>
